body{
    background-color: rgb(29, 37, 45);
}
.button{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    display: block;
    margin: 0px auto 0 auto;
    transition: all .4s;

}

.buttonmargintop{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    display: block;
    margin: 20px auto 0 auto;
    transition: all .4s;


}
.buttonmargintop:hover{
    width: 330px;
    height: 45px;
    transition: all .3s;


 
}
.button:hover{
    width: 330px;
    height: 45px;
    transition: all .3s;


 
}
.buttonmarginbottum:hover{
    width: 330px;
    height: 45px;
    transition: all .3s;
 
}

.buttonmarginbottum{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    display: block;
    margin: 20px auto 120px auto;
    transition: all .4s;

    

}
.button_text{
    color: rgb(41, 41, 41);
    font-family: Trebuchet ms;

    font-weight: 500;

    font-size: 18px;

}
.katagori{
    display: block;
    margin: 30px auto 30px auto;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    color: blanchedalmond;
    text-align: center;


}
.profile_img{
    width: 200px;
    height: 200px;

    border-radius: 100%;

}
.profile_mar{
    display: flex;
  justify-content: center;
  margin-top: 90px;
}
.profile_name{
    color: blanchedalmond;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
}
.title{
    color: blanchedalmond;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    font-family: monospace;
    padding-top: 10px;

}
